{% extends 'pfeFrontBundle:Default:index.html.twig' %}
{% block titleh1 %} Archive   {% endblock %}
{% block breadcrumb %}
    {{ parent() }}
    <li>
        <a href="#">Archive list</a>
    </li>
</li>
{% endblock %}

{% block body -%}

<div class="portlet light">
<div class="portlet-title">
    <div class="caption">
        <i class="fa fa-globe"></i> </div>
    <div class="tools">
        <a class="fullscreen" href="javascript:;"> </a>
        <a href="javascript:;" class="collapse">
        </a>
        <a href="javascript:;" class="reload">
        </a>
        <a href="javascript:;" class="remove">
        </a>
    </div>
</div>
<div class="portlet-body">
    <div class="table-toolbar">
        <div class="row">
            <div class="col-md-6">
                <div class="count">
                  Total:  {{ pagination.getTotalItemCount }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="btn-group pull-right">

                    <button class="btn dropdown-toggle" data-toggle="dropdown">Tools <i class="fa fa-angle-down"></i>
                    </button>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a href="javascript:;">
                                Print </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                Save as PDF </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                Export to Excel </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
<table class="table table-striped table-bordered table-hovers">
    <tr role="row" class="heading" >
        {# sorting of properties based on query components #}
        <th width="20%" {% if pagination.isSorted('e.dateHeure') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Date Heure', 'e.dateHeure') }}</th>
        <th width="10%" {% if pagination.isSorted('e.codeProduc') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Code Product', 'e.codeProduct') }}</th>
        <th width="10%" {% if pagination.isSorted('e.serialNumber') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Serial Number', 'e.serialNumber') }}</th>
        <th width="10%" {% if pagination.isSorted('e.movement') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Movement', 'e.movement') }}</th>
        <th width="10%" {% if pagination.isSorted('e.status') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Status', 'e.status') }}</th>
        <th width="5%" {% if pagination.isSorted('e.default') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Default', 'e.default') }}</th>
        <th width="25%" {% if pagination.isSorted('e.description') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Description', 'e.description') }}</th>
        <th width="10%">
            Actions
        </th>
    </tr>
    <tr role="row" class="filter">
        <form method="get" action="."><td>
            <div class="input-group date form_datetime margin-bottom-5" >
                {{ form_widget(form.dateHeure.left_datetime, { 'attr': {'class': 'form-control' } }) }}
                                            <span class="input-group-btn">
                                            <button class="btn default date-reset" type="button"><i class="fa fa-times"></i></button>
                                            <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
            </div>
            <!-- /input-group -->

            <div class="input-group date form_datetime"  >
                {{ form_widget(form.dateHeure.right_datetime, { 'attr': {'class': 'form-control' } }) }}
                                            <span class="input-group-btn">
                                            <button class="btn default date-reset" type="button"><i class="fa fa-times"></i></button>
                                            <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
            </div>
            <!-- /input-group -->
        </td>
        <td>
            {{ form_widget(form.codeProduct, { 'attr': {'class': 'form-control form-filter input-sm' } }) }}
        </td>
        <td>
            {{ form_widget(form.serialNumber, { 'attr': {'class': 'form-control form-filter input-sm' } }) }}
        </td>
        <td>
            {{ form_widget(form.movement, { 'attr': {'class': 'form-control form-filter input-sm' } }) }}

        </td>
        <td>
            {{ form_widget(form.status, { 'attr': {'class': 'form-control form-filter input-sm' } }) }}
        </td>
        <td>
            {{ form_widget(form.default, { 'attr': {'class': 'form-control form-filter input-sm' } }) }}
        </td>
        <td></td>
        <td>
            <div class="margin-bottom-5">
                <button  name="submit-filter" type="submit" class="btn btn-sm green filter-submit margin-bottom"><i class="fa fa-search"></i> Search</button>
            </div>
            <button  type="reset" class="btn btn-sm   blue-hoki filter-cancel"><i class="fa fa-times"></i> Reset</button>
        </td>
        </form>
    </tr>
    {# table body #}
    {% for article in pagination %}
        <tr {% if loop.index is odd %}class="color"{% endif %}>
            <td>{{ article.dateHeure|date('Y-m-d H:i:s')}}</td>
            <td>{{ article.codeProduct}}</td>
            <td>{{ article.serialNumber }}</td>
            <td>{{ article.movement }}</td>
            <td>{{ article.status }}</td>
            <td>{{ article.default }}</td>
            <td>{{ article.description }}</td>
            <td></td>
        </tr>
    {% endfor %}
</table>
    <div class="navigation pagination">
        {{ knp_pagination_render(pagination) }}
    </div>
    </div>
</div>
    {# display navigation #}

{% endblock %}
