{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Ligne</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nomligne</th>
                <td>{{ entity.nomLigne }}</td>
            </tr>
            <tr>
                <th>Zone</th>
                <td>{{ entity.zone }}</td>
            </tr>
            <tr>
                <th>Poste</th>
                <td>{{ entity.poste }}</td>
            </tr>
            <tr>
                <th>Superviseur</th>
                <td>{{ entity.superviseur }}</td>
            </tr>
            <tr>
                <th>Teamleader</th>
                <td>{{ entity.teamleader }}</td>
            </tr>
            <tr>
                <th>Objectifligne</th>
                <td>{{ entity.objectifligne }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('ligne') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('ligne_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
